SAPPHIRE_TESTNET_RPC=https://testnet.sapphire.oasis.dev
DEPLOYER_PRIVATE_KEY=0x_your_64_hex_private_key
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
AUTH_COOKIE_SECRET=
NEXT_PUBLIC_PAYMENT_CONTRACT_ADDRESS=
NEXT_PUBLIC_VND_PER_TEST=1000000
